.gradient-custom-3 {
    /* fallback for old browsers */
    background: white;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: white;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
}
.button_text {
    color: white; !important;
}
.footercustom{
    background: linear-gradient(to right, #141E30, #243B55);
    color: white;
}