{% extends 'base.html' %}
{% load static %}

{% block title %}Zmiana hasła{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/css/auth_styles.css' %}">
    <script src="{% static 'authentication/js/auth_scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center">Zmiana hasła</h3>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="old_password" class="form-label">Stare Hasło</label>
                    <input type="password" class="form-control" id="old_password" name="old_password">
                </div>
                <div class="mb-3">
                    <label for="new_password1" class="form-label">Nowe Hasło</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1">
                </div>
                <div class="mb-3">
                    <label for="new_password2" class="form-label">Potwierdź Nowe Hasło</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2">
                </div>
                <button type="submit" class="btn btn-primary">Zmień Hasło</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}