{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/css/styles.css' %}">
    <script src="{% static 'authentication/js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Ustawienia Użytkownika</h1>
    <div class="row">
        {% include 'settings/settings_sidebar.html' %}

        <div class="col-md-9">
            <div class="settings-content">
                <h3>Dane personalne</h3>
                <p>Tutaj zmieniasz swoje dane itd.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}