{% extends 'base.html' %}
{% load static %}

{% block title %}Ustawienia{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/css/styles.css' %}">
    <script src="{% static 'authentication/js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center">Ustawienia Użytkownika</h3>
    <div class="row">
        {% include 'settings/settings_sidebar.html' %}

        <div class="col-md-9">
            <div class="settings-content">
                <form method="post" action="">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nazwa Użytkownika</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Zapisz Zmiany</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'change_password' %}'">Zmień Hasło</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}