{% extends 'base.html' %}
{% load static %}

{% block title %}Main{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script src="{% static 'core/js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Oferty:</h2>
    {% for offer in offers %}
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ offer.Title }}</h5>
                        <p class="card-text">{{ offer.Description }}</p>
                        <p class="card-text"><strong>Cena:</strong> {{ offer.Price }} PLN</p>
                        <p class="card-text"><strong>Lokalizacja:</strong> {{ offer.Location }}</p>
                        <p class="card-text"><strong>Typ:</strong> {{ offer.Type }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}