{% extends 'base.html' %}
{% load static %}

{% block title %}Ranking{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script src="{% static 'core/js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Top 5 użytkowników</h2>
    <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ user.username }} ({{ user.email }})
            <span class="badge-primary badge-pill">{{ user.avg_rating|floatformat:2 }} z {{ user.review_count }} opini</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}