{% extends 'base.html' %}
{% load static %}

{% block title %}Oferta{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/core_styles.css' %}">
    <script src="{% static 'core/js/core_scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Oferta:</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ offer.Title }}</h5>
                    <p class="card-text">{{ offer.Description }}</p>
                    <p class="card-text"><strong>Cena:</strong> {{ offer.Price }} PLN</p>
                    <p class="card-text"><strong>Lokalizacja:</strong> {{ offer.Location }} ({{ offer.State }})</p>
                    <p class="card-text"><strong>Typ:</strong> {{ offer.get_Type_display }}</p>
                    <p class="card-text"><strong>Data utworzenia:</strong> {{ offer.TimeCreated|date:"d.m.Y" }}</p>
                    {% if user.is_authenticated %}
                        {% if did_user_apply %}
                            <p class="text-success">Zgłosiłeś się już do wykonania tej oferty</p>
                        {% else %}
                            <form method="POST" action="{% url 'apply_for_offer' offer.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary">Zgłoś się do wykonania</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <p class="text-danger">Aby zgłosić się do wykonania musisz się zalogować</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}